<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot Down ideas for Final Year Project</p>
    <div class="center" style="flex-direction: column">


        <a href="/ideas/add" class="btn btn-dark btn-block mb-3">Add Project Ideas</a>
        <br><br>
        <a href="/ideas" class="btn btn-dark btn-block mb-3">View All Project Ideas</a>
    </div>
</div>